@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body {
    background-color: #303030;
    margin: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: Rubik;
}

.sortcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    padding: 0 50px;
}

.container {
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid rgb(22, 159, 70); */
}
.sap{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    font-size: xx-large;
    color: #fff;

}

.container2 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: end;
    padding: 10px 0;
    position: relative;
    /* border: 1px solid red; */
}

.pols {
    background-color: #14a76c;
    display: flex;
    align-items: end;
    justify-content: center;
    left: 0;
    transition: left 0.2s;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
}
.fun-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: white;
    margin: 0 10PX;
}