@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body {
    background-color: #272727;
    margin: 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Rubik;
    font-weight: 700;
}

.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    justify-content: center;
}

.heading{
    color: white;
    margin: 1vh 4vw;
    padding: 6px;
    background-color: #272727;
    border-radius: 15px;
    box-shadow: #373737 2px 2px 20px 0px;
}

.sortcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    margin: 0 4vw;

}

@media screen and (max-width: 850px) {
    .sortcon{
        flex-direction: column;
    }
    .sap{
        padding-top: 20px !important;
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: #373737 2px 2px 20px 0px;
    border-radius: 15px;
}
.sap{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30vh;
    font-size: xx-large;
    color: #fff;

}

.container2 {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: end;
    padding: 5px 0;
    position: relative;
}

.pols {
    background-color: #14a76c;
    display: flex;
    align-items: end;
    justify-content: center;
    left: 0;
    transition: left 0.2s;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
}
.fun-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shc,.shs{
    color: white;
    margin: 0 10PX;
    font-size: 1rem;
    margin-bottom: 5px;
}
.shc{
    color: #ffe400;
}
.shs{
color: #ff652f;
}
.s-con{
    display: flex;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
}
.sccolor{
    color: #ffe400;
    font-size: 1.3rem;
}
.sscolor{
    color: #ff652f;
    font-size: 1.3rem;
}
.s-selector{
    width: 40%;
    font-weight: 700;
    color: #fff;
    background-color: #373737;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s-selector:hover{
    color: #14a76c;
    border: 1px solid #14a76c;
}

.s-selector[disabled]{
    color: #696969;
    border: 1px solid #696969;
}
.s-selector[disabled]:hover{
    border: 1px solid #14a76c;
}

.s-selector>*{
    font-weight: 600;
}

.main-fluid{
    padding: 15px 0;
    margin: 0 4vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-con{
    width: 100%;
    height: 100%;
    box-shadow: #373737 2px 2px 20px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button{
    height: 2.5rem;
    width: 150px;
    color: #fff;
    background-color: #373737;
    border: 1px solid #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    border: 2px solid #14a76c;
    color: #14a76c;
}

.rangeiv,.spradio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 2.3rem;
    border: 1px solid white;
    background-color: #373737;
    border-radius: 15px;
    margin: 10px;
}
.rangeiv:hover,.spradio:hover{
    border: 1px solid #14a76c !important;
}
#range{
    margin: 0 10px;
}
#rangev{
    width: 2pc;
    margin: 5px;
    color: #fff;
}

.spradio>span{
    color: white;
    padding-right: 8px;
}
.spradio>input{
    cursor: pointer;
    margin: 0 4px;
}


button[disabled]{
    color: #696969;
    border: 1px solid #696969;
}
button[disabled]:hover{
    border: 1px solid #14a76c;
}

#stop{
    color: #fff;
    border: 1px solid #fff;
}
#stop:hover{
    color: #ff652f;
    border: 2px solid #ff652f;
}

#stop:disabled{
    color: #696969;
    border: 1px solid #696969;
}